@media screen and(min-width:1440px){
  .container{
        width: 80%;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:2rem;
  }  

  .main-card{
      grid-row: 1 / span 2;
      grid-column: unset;
      height: 100%;

      .report-description{
        flex-direction: column;
        align-items: flex-start;
        height: 70%;
        padding: 2.7rem 2rem;

        img{
            width: 5rem;
        }

        > :last-child{
            margin-top: 1.6rem;

            .name{
                font-size: 2.25rem;
            }
        }
      }

      .menu{
          height: 30%;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 1.25rem;
      }
  }

  .card{
      .card-description{
          margin-top: 4rem;
          padding: 1.75rem;

          > :last-child{
              .hours{
                font-size: 2.75rem;
                padding-top: 0.9rem;
              }

            .description{
                padding-top: 0.25rem;
            }
          }
      }

      
  }
}