#work{
    background-color: var(--work);
    background-image: url(../../../assets/icon-work.svg);
}

#play{
    background-color: var(--play);
    background-image: url(../../../assets/icon-play.svg);
}

#study{
    background-color: var(--study);
    background-image: url(../../../assets/icon-study.svg);
}

#exercise{
    background-color: var(--exercise);
    background-image: url(../../../assets/icon-exercise.svg);
}

#social{
    background-color: var(--social);
    background-image: url(../../../assets/icon-social.svg);
}

#self-care{
    background-color: var(--self-care);
    background-image: url(../../../assets/icon-self-care.svg);
}
